@buhler:registry=https://pkgs.dev.azure.com/buhlergroup/_packaging/buhlergroup-internal/npm/registry/
@buhler-external:registry=https://pkgs.dev.azure.com/buhlergroup/_packaging/buhlergroup-external/npm/registry/
always-auth=true